.resources {
  position: absolute;
  width: 100vw;
  bottom: 0.5rem;
  text-align: center;
}

.resourceLink {
  color: #1c2e3f;
  text-decoration: none;
  margin: 2rem;
  font-size: 0.8rem;
}

.resourceLink:hover {
  color: #3e648a;
}

.copyRight {
  color: #1c2e3f;
  font-size: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
