.container {
  background-color: #1c2e3f;
  color: #f8f9fa;
  text-align: center;
  font-size: 2rem;
}

label {
  font-weight: 200;
}

input {
  background-color: #f8f9fa;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  width: 40rem;
  max-width: 90vw;
  font-size: 1.5rem;
  font-weight: 200;
  outline: none;
}
