.buttonDark {
  background-color: #f8f9fa;
  width: 15rem;
  margin-top: 12rem;
  margin-bottom: 15vh;
  padding: 1rem;
  background-color: #f8f9fa00;
  color: #1c2e3f;
  border-color: #1c2e3f;
  border-radius: 10rem;
  font-size: 2rem;
  font-weight: 200;
  cursor: pointer;
}
