.buttonLight {
  width: 12rem;
  background-color: transparent;
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.buttonLight:focus,
.buttonLight:hover {
  background-color: #1c2e3f00;
  border-color: #b2b3b4;
  color: #b2b3b4;
  outline: none;
}
