.getStartedContainer {
  background-color: #1c2e3f;
  color: #f8f9fa;
  font-size: 2rem;
  text-align: center;
  background-image: url("../svgs/BgThing.svg");
  background-repeat: no-repeat;
  background-position-y: -20vh;
  background-position-x: -10vw;
  background-size: 60vmax;
}

label {
  text-align: center;
  font-weight: 200;
}

input {
  background-color: #f8f9fa;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 200;
  outline: none;
}

@media screen and (min-width: 720px) {
  .getStartedContainer {
    padding-left: 20vw;
    padding-right: 20vw;
  }

  input {
    width: calc(60vw - 2rem);
  }
}

@media screen and (max-width: 720px) {
  input {
    width: calc(100vw - 2rem);
  }
}
